.hidden {
  display: none !important;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-one-third,
.column-two-third {
  width: 100%;
}

.portfolio-box {
  width: 20rem;
  min-height: 13rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.no-data {
  margin-top: 1px;
  width: 25rem;
  height: 20rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-one-third {
    width: 25%;
  }

  .no-data {
    margin-top: 1px;
    width: 40rem;
    height: 30rem;
  }

  .column-two-third {
    width: 75%;
  }

  .portfolio-box {
    min-height: 9rem;
  }
}
